
.navbar{
    background-color: #c7bcb8;
    opacity: .94;
    margin-bottom: 5px;
}
h1{
    color: white;
    font-size:60px;
    letter-spacing: 15px;
    font-family: 'Amatic SC', cursive;
    text-shadow: 10px 10px 10px gray;
    font-weight: 600;
    margin-left: 50px;
    text-transform: lowercase;
    
    
}
#searchBtn{
    color: white;
    border-color: #f4c5b4;
    background-color: #f4c5b4;
    letter-spacing: 5px;
    font-weight: 800px;
    box-shadow: 3px 3px 3px gray;
    font-weight: 600;
    text-shadow: #f4a98e;

}
#searchBtn:hover{
   
    outline-color: #f4c5b4;
    background-color: white;
    color:  #f4c5b4; 
}
#searchBtn:focus{
    outline-color: #f4c5b4;
}
#buttonsDiv{
 margin-right: 10px;
 margin-left: 5px;

}
.btn {
  
    margin: 5px 3px;
    letter-spacing: 2px;
    font-size: 25px;
    padding-top: 3px;
    font-family: 'Amatic SC', cursive;
    border-color: #f4c5b4;
    background-color: white;
    color:  grey;
    
}

.btn:hover{
    color: White;
    border-color: #f4c5b4;
    background-color: #f4c5b4;
}

p{
    color: grey;
    font-family: 'Oxygen Mono', monospace;
    font-size: 16px;
    text-align: center
    
}
#whatUserSearched{
        letter-spacing: 3px;
        font-family: 'Oxygen Mono', monospace;
}
.gifsDiv{
    display: inline-block;
    width: 90%;
    align-self: auto;

}
#resultsDiv{
    margin-right: auto;
    margin-left: auto;
}
