

h1{
    color: darkturquoise;
    font-size: 30px;
    letter-spacing: 3px;
    /* text-align: center; */
}
#searchBtn{
    color: white;
    border-color: mediumorchid;
    background-color: mediumorchid;
}
#searchBtn:hover{
   
    outline-color: mediumorchid;
    background-color: white;
    color:  mediumorchid; 
}
#searchBtn:focus{
    outline-color: mediumorchid;
}
.btn{
    color: White;
    border-color: darkturquoise;
    background-color: darkturquoise;
    margin: 2px;
}
.btn:hover{
    border-color: darkturquoise;
   
    background-color: white;
    color:  darkturquoise;
}


#formDiv {
    align-content: flex-end;
}

/* #whatUserSearched{
    margin-left: auto;
    margin-right: auto;
} */